#theme-switcher {
	position: fixed;
	bottom: 1%;
	right: 2%;
	opacity: 0.4;
}
#theme-switcher:hover {
	opacity: 1;
}

body.theme-dark {
	background-color: #131313;
	color: #dedad6;
}
.theme-dark .thumb {
	background-color: #000000;
}
.theme-dark .event-group {
	background-color: black;
	border: 1px solid #3d3d3d;
}
.theme-dark .content .timer {
	background-color: #10192b;
}
.theme-dark .top-event .line.header {
	background-color: #323232;
	color: #69ccff;
}
.theme-dark .top-event .line {
	background-color: #242424;
	color: #dedad6;
}
.theme-dark .top-gacha .line.header {
	background-color: #323232;
	color: #ff80f7;
}
.theme-dark .top-gacha .line {
	background-color: #242424;
}
.theme-dark .line.header {
	background-color: #323232;
	color: #ffc400;
}
.theme-dark .line{
    background-color: #242424;
}
.theme-dark .content .timer {
	background-color: #242424;
	color: #dedad6;
}
.theme-dark .bar .progress {
    background-color: #828282;
}

body.theme-pink {
	background-color: #ee00ee;
	color: #880066;
}
.theme-pink .thumb {
	background-color: #ff00ff
}
.theme-pink .event-group {
	background-color: pink;
	border: 1px solid #00ff00;
}